@font-face {
  font-family: 'Bangers';
  font-style: normal;
  font-weight: 400;
  src: local('Bangers'), local('Bangers-Regular'), url(http://fonts.gstatic.com/s/bangers/v7/yJQgrSMUoqRj-0SbnQsv4g.woff2) format('woff2'), url(http://fonts.gstatic.com/s/bangers/v7/DqeGA7eaz0hhOYTfkeJBIA.woff) format('woff');
}
@font-face {
  font-family: 'Julee';
  font-style: normal;
  font-weight: 400;
  src: local('Julee-Regular'), url(http://fonts.gstatic.com/s/julee/v6/8v12OmDsrehnrPxyjQD3xw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/julee/v6/rsTTzTiYEy37PYpNUTX4Uw.woff) format('woff');
}
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), local('Lobster-Regular'), url(http://fonts.gstatic.com/s/lobster/v12/cycBf3mfbGkh66G5NhszPQ.woff2) format('woff2'), url(http://fonts.gstatic.com/s/lobster/v12/MWVf-Rwh4GLQVBEwbyI61Q.woff) format('woff');
}
@font-face {
  font-family: 'Over the Rainbow';
  font-style: normal;
  font-weight: 400;
  src: local('Over the Rainbow'), local('OvertheRainbow'), url(http://fonts.gstatic.com/s/overtherainbow/v7/6gp-gkpI2kie2dHQQLM2ja7pfPjgI8r7NxNPh3rLTlQ.woff2) format('woff2'), url(http://fonts.gstatic.com/s/overtherainbow/v7/6gp-gkpI2kie2dHQQLM2jV7JQLNqXe_ZNPdm_g-gn8I.woff) format('woff');
}
