.us {
  font-weight: 900;
}

.documentation {
  @include rem-fb(1 0, padding);
  @include border-radius-l;
  @include rem-fb($font-l);
  line-height: 1.5;
  background: rgba(255,255,255,0.7);
}

#posts {
  @media screen and (max-width: $break-s-max) {
    margin-top: 2em;
  }

  p {
    line-height: 1.5;

    @media screen and (max-width: $break-s-max) {
      line-height: 1.2;
    }
  }
}

.post,
.notification {
  @include rem-fb(1, margin-bottom);
}

.post {
  @include rem-fb(1 0, padding);
  @include rem-fb(1, margin-bottom);
}

.notification {
  @include rem-fb(1, padding);
  border: solid #d00 2px;
  @include border-radius-s;
  font-weight: bolder;
  color: #d00;
}

.date {
  padding: .2em 1em;
  margin: .5em 0 1em;
  font-size: 11px;
  color: #eee;
  background-color: #666;
}
