// # global layout
//
// No styleguide reference.
// =================================================================================================
html {
  color: $color-dark-main;
  background: $color-light-main;
}

// # main container
// =================================================================================================
#page {
  width: 96%;
  max-width: $break-l-min;
  margin: 2% 2% 10em;

  @media screen and (min-width: $break-l-min) {
    width: $break-l-min - 2;
    margin: 2em auto 10em;
  }

  @media screen and (max-width: $break-s-max) {
    width: auto;
    margin: .5em;
  }
}

#content {
  font-family: $font-normal;
}

// # tools for layout
// =================================================================================================
.clearfix {
  clear: both;
}
